
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1e2636;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.yellow-text {
  color: #e9c008ef;
}

.white-text {
  color: white;
}

.metric-panel {
  background-color: hotpink;
}

.metric-tile {
  background-color: green;
}

.top-artist-list {
  background-color: #1e2636;
}

.top-artist-list-entry {
  text-align: left;
  pad: 10px;
  color: white;
}

